<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="/assets/images/logo.png" style="max-height: 50px;
        margin-top:9px;" alt="logo"/>
        <span class="fs-4 mt-2">Tortoise E-Commerce</span>
    </a>

    <nav class="my-3 my-md-0 mr-md-3 text-uppercase " style="font-size: large;">
      <a class="p-2 text-dark text-decoration-none" href="#">Ana Sayfa</a>
      <a class="p-2 text-dark text-decoration-none" href="#">Mağaza</a>
      <a class="p-2 text-dark text-decoration-none" href="#">İletişim</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative"> 
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark me-5"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="me-3 py-2 btn btn-outline-secondary">Kayıt Ol</a>
        <a class="me-3 py-2 btn btn-outline-primary">Giriş Yap</a>
    </div>
  </div>